doctype html 
html 
    head 
            title login page 
    body 
        form(method='post', action='/login')
            div 
                label username: 
                input#username-input(name='username', type='text')
            div 
                label password: 
                input#password-input(name='password', type='password')
            div 
                div additional text 
                textarea#additional-text-input(name="additional-text")
            button(type='submit') Submit 